/* ========================================= */
/* GLOBAL RESET */
/* ========================================= */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* ========================================= */
/* BODY */
/* ========================================= */

body{

  font-family:

    'Inter',
    'Segoe UI',
    sans-serif;

  background:
  linear-gradient(
    135deg,
    #081c24,
    #0f2d3a,
    #12384a
  );

  color:white;

  overflow-x:hidden;

  min-height:100vh;

  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

/* ========================================= */
/* ROOT */
/* ========================================= */

#root{

  min-height:100vh;
}

/* ========================================= */
/* SCROLLBAR */
/* ========================================= */

::-webkit-scrollbar{

  width:10px;
}

::-webkit-scrollbar-track{

  background:#0f172a;
}

::-webkit-scrollbar-thumb{

  background:#14b8a6;

  border-radius:10px;
}

/* ========================================= */
/* LINKS */
/* ========================================= */

a{

  text-decoration:none;

  color:inherit;
}

/* ========================================= */
/* BUTTON DEFAULT */
/* ========================================= */

button{

  font-family:inherit;
}

/* ========================================= */
/* INPUT DEFAULT */
/* ========================================= */

input,
select,
textarea{

  font-family:inherit;
}